<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="about-section" class="pt-5 pb-5">
  <div class="container wrapabout">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0 offset-lg-0.2">
        <div class="blockabout">
          <div class="blockabout-inner text-center text-sm-start">
            <div class="title-big pb-3 mb-3">
              <h3>{{"Sobre mi"|translate}}</h3>
            </div>
            <p class="description-p text-muted pe-0 pe-lg-0">
               "Soy Adrian Lucena, estudiante de GRADO SUPERIOR DE DESAROLLO DE APLICACCIONES MULTIPLATAFORMA,
                apasionado por la creación y desarrollo de soluciones innovadoras en el ámbito tecnológico.
                Mi enfoque se concentra en la búsqueda constante del conocimiento y en 
                mantenerme actualizado sobre las últimas tecnologías emergentes en el campo de 
                de la programacion. Me motiva el desafío de contribuir al avance y la 
                evolución de la tecnología a través del desarrollo de software."

            </p>
            <p class="description-p text-muted pe-0 pe-lg-0">Destaco por mi capacidad para enfrentar desafíos, resolver problemas de manera eficiente y colaborar en equipo.
              </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0 offset-lg-0.2">
        <figure class="potoaboutwrap">
          <img src="../../../assets/img/adrian.jpeg" alt="potoabout" style="width: 550px; height: 600px;" />
        </figure>
      </div>
    </div>
  </div>
</section>
   
